body {
    background-image: url('./img/bgtexture.jpg');
    background-repeat: repeat;
    margin: 0px;
}

#root {
    position: absolute;
    height: 100%;
    width: 100%;
}

#calc-body {
    display: inline-block;
    width: 375px;
    height: 375px;
    background-color: grey;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding: 15px;
    padding-right: 11px;
}